== simple_form_for repo, as: :repo, url: '/repos', method: :create, html: { class: "edit_repo", role: 'form' } do |form|
  == form.input :name, label: "GitHub Repo", placeholder: 'owner/repo', required: false
  == form.button :submit, value: "Analyze!", class: 'btn btn-default'
