- button_params = { repo: { name: repo.owner_and_name } }
- options = { action: "create", controller: "repos", params: button_params }
- html_options = { class: 'btn btn-link btn-lg repo-show' }
== button_to repo.owner_and_name, options, html_options

== render partial: 'silos_summary', :locals => { name: repo.owner_and_name, silos: repo.biggest_silos }
